@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

/** {
    border-style: solid;
    border-width: 1px;
    border-color: red;
}*/

.button {
    box-shadow: 5px 5px 5px grey;
}

#education-list {
    column-count: 1;
}